body {
  font-family: Arial, sans-serif;
  background: #E6E6FA;;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  background: rgb(255, 249, 249);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1, h2 {
  text-align: center;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input, button {
  padding: 8px;
  font-size: 14px;
}

button {
  cursor: pointer;
  background: blueviolet;
  border: none;
  color: white;
  border-radius: 5px;
}

button:hover {
  background: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

pre {
  background: #272822;
  color: #f8f8f2;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
}

